<footer class="bg-gray-800 text-white p-10" id="footer">
    <div class="container mx-auto flex flex-col md:flex-row justify-between">
        <div class="md:w-1/2 mb-4 md:mb-0">
            <h3 class="text-lg font-bold mb-2">Project Explanation</h3>
            <p class="text-sm text-gray-300 mb-4">
                L'Ordinateur Très Bien is a trusted platform connecting users with high-quality computer parts and accessories. Our mission is to provide reliable tech solutions with exceptional customer service. We are sure that we're not scam, he he he.
            </p>
            <div class="mb-4">
            <p class="text-sm font-semibold">Our Members:</p>
            <ul class="text-sm text-gray-300">
                <li>Myat Thiri Maung (522K0043)</li>
                <li>Thu Reain Htet Aung (522K0044)</li>
            </ul>
            </div>
            <p class="text-xs text-gray-400">Web Programming with Node.js Course</p>
        </div>
        <div class="md:w-1/2 md:text-right">
            <div class="text-xl font-bold mb-6">L'Ordinateur Très Bien</div>
            <p class="text-xs text-gray-400">Ton Duc Thang University</p>
        </div>
    </div>
</footer>