<header class="bg-white text-gray-700 p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center space-x-8">
            <a href="/" class="text-2xl font-bold">Home</a>
            <a href="/products" class="text-xl font-bold">products</a>
            <a href="#footer" class="text-xl font-bold">about</a>
            <a href="https://github.com/MyatThiriMaung3/e-commerce_web_app"class="text-xl font-bold" target="_blank" rel="noopener noreferrer">github</a>
            
            
        </div>

        <div class="flex items-center space-x-8">
            <a href="/cart"class="text-xl font-bold"><i class="fas fa-cart-shopping"></i></a>
            <a href="/account"class="text-xl font-bold"><i class="fas fa-user"></i></a>
            <div class="text-2xl font-bold">
                L'Ordinateur Très Bien
            </div>
        </div>
        
    </div>
</header>